$line-color: #0589f3;
$focused-cell-background: rgba(158, 207, 250, .3);
$focused-border-color: #3779eb;

table {
  width: auto !important;
}
.ql-operate-line-container {
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  .ql-operate-line {
    background-color: $line-color;
  }
}
.ql-operate-box {
  position: absolute;
  z-index: 100;
  border: 1px solid #979797;
  cursor: nwse-resize;
  &-move {
    cursor: crosshair;
    border: none;
  }
}
.ql-operate-drag-table {
  border: 1px dashed #000;
  position: absolute;
}
.ql-cell-focused {
  position: relative;
  &::after {
    @extend .ql-cell-selected-after;
    border: 1px solid $focused-border-color;
  }
}
.ql-cell-selected {
  position: relative;
  &::after {
    @extend .ql-cell-selected-after;
  }
}
.ql-table-menus-container {
  position: absolute;
  display: flex;
  align-items: center;
  height: 40px;
  width: fit-content;
  padding: 4px;
  box-sizing: border-box;
  @extend .ql-table-border-shadow;
  &::before {
    @extend .ql-table-triangle-common;
    bottom: -20px;
    border-top-color: #00000026 !important;
  }
  &::after {
    @extend .ql-table-triangle-common;
    bottom: -19px;
    border-top-color: #fff !important;
  }
  .ql-table-dropdown {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    padding: 0 4px;
    &:hover {
      background: #f0f0f0;
    }
    &-icon {
      &:hover + .ql-table-tooltip {
        display: block;
      }
    }
    .ql-table-tooltip {
      min-width: 32px;
      line-height: 20px;
      padding: 6px 8px;
      white-space: nowrap;
      color: #fff;
      text-align: center;
      word-wrap: break-word;
      background: #000000d9;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
      left: 50%;
      transform: translate(-50%, 100%);
      &::before {
        @extend .ql-table-triangle-common;
        border-bottom-color: #000000d9 !important;
        top: -20px;
      }
      &:hover {
        display: block;
      }
    }
    &-list {
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateY(100%);
      margin: 0;
      padding: 0;
      width: 170px;
      @extend .ql-table-border-shadow;
      li {
        list-style: none;
        line-height: 40px;
        padding-left: 10px;
        &:hover {
          background: #f0f0f0;
        }
      }
    }
  }
}
.ql-table-triangle-common {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  border: 10px solid transparent;
}
.ql-table-border-shadow {
  border-radius: 2px;
  border: 1px solid #ccced1;
  background: #fff;
  box-shadow: 0 1px 2px 1px #00000026;
}
.ql-cell-selected-after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $focused-cell-background;
}