$line-color: #0589f3;
$focused-cell-background: #9ec9fa4d;
$focused-border-color: #3779eb;

table {
  width: auto !important;
}
.ql-operate-line-container {
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  .ql-operate-line {
    background-color: $line-color;
  }
}
.ql-operate-box {
  position: absolute;
  z-index: 100;
  border: 1px solid #979797;
  cursor: nwse-resize;
  &-move {
    cursor: crosshair;
    border: none;
  }
}
.ql-operate-drag-table {
  border: 1px dashed #000;
  position: absolute;
}
.ql-cell-focused {
  position: relative;
  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $focused-cell-background;
    border: 1px solid $focused-border-color;
  }
}
.ql-cell-selected {
  background-color: $focused-cell-background;
}